@font-face {
    font-family: 'MorangaMedium';
    src: url(assets/fonts/MorangaMedium.otf);
}
@font-face {
    font-family: 'MorangaBold';
    src: url(assets/fonts/MorangaBold.otf);
}
@font-face {
    font-family: 'MorangaExtraBold';
    src: url(assets/fonts/MorangaExtraBold.otf);
}

@font-face {
    font-family: 'Helvetica';
    src: url(assets/fonts/Helvetica.otf);
}

@font-face {
    font-family: 'HelveticaBold';
    src: url(assets/fonts/HelveticaBold.otf);
}

.font-moranga-medium{
    font-family: 'MorangaMedium', sans-serif;
}
.font-moranga-bold{
    font-family: 'MorangaBold', sans-serif;
}
.font-moranga-extrabold{
    font-family: 'MorangaExtraBold', sans-serif;
}

.font-helvetica{
    font-family: 'Helvetica', sans-serif;
}

.font-helvetica-bold{
    font-family: 'HelveticaBold', sans-serif;
}
