.headerBg {
    background-image: url(assets/images/headerbg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.marketingbg {
    background-image: url(assets/images/marketingbg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.assbg {
    background-image: url(assets/images/assbg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.footerbg {
    background-image: url(assets/images/footerbg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.inputbg {
    background-image: url(assets/images/footerbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    border: 1px solid #FFF;
}